<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.barry.animation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Androiddiy">
        <activity android:name=".layout_animation.LayoutAnimationActivity"></activity>
        <activity android:name=".circular_reveal.CircularReveal3Activity" />
        <activity android:name=".circular_reveal.CircularReveal2Activity" />
        <activity android:name=".circular_reveal.CircularReveal1Activity" />
        <activity android:name=".scene_transition.SceneTransition4Activity" />
        <activity android:name=".scene_transition.SceneTransition3Activity" />
        <activity android:name=".scene_transition.SceneTransition2Activity" />
        <activity android:name=".scene_transition.SceneTransition1Activity" />
        <activity android:name=".scene_transition.BSceneTransitionActivity" /> <!-- <activity android:name=".scene_transition.ASceneTransitionActivity" android:theme="@style/ASceneTransitionActivityAnimation" /> -->
        <!-- <activity android:name=".scene_transition.ASceneTransitionActivity" android:theme="@style/ASceneTransitionActivitySharedElementAnimation" /> -->
        <activity android:name=".scene_transition.ASceneTransitionActivity" />
        <activity android:name=".override_pending_transition.BOverridePendingTransitionActivity" />
        <activity android:name=".override_pending_transition.AOverridePendingTransitionActivity" />
        <activity android:name=".view_property.ViewPropertyAnimatorActivity" />
        <activity android:name=".shared_element.BSharedElementTransitonActivity" />
        <activity android:name=".shared_element.ASharedElementTransitonActivity" />
        <activity android:name=".layout_transition.CustomLayoutTransitionActivity" />
        <activity android:name=".layout_transition.DefaultLayoutTransitionActivity" />
        <activity android:name=".property.AnimatorSetActivity" />
        <activity android:name=".property.FullObjectAnimatorActivity" />
        <activity android:name=".property.CustomAnimatorPropertyActivity" />
        <activity android:name=".property.ObjectAnimatorActivity" />
        <activity android:name=".property.ValueAnimatorActivity" />
        <activity android:name=".interpolator.CustomInterpolatorActivity" />
        <activity android:name=".interpolator.OfficialInterpolatorActivity" />
        <activity android:name=".frame.FrameActivity" />
        <activity android:name=".tween.AniSetActivity" />
        <activity android:name=".tween.RotateActivity" />
        <activity android:name=".tween.ScaleActivity" />
        <activity android:name=".tween.AlphaActivity" />
        <activity android:name=".tween.TranslateActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>