<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.barry.coordinatorlayout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".scrollFlags.CollapsingToolbarLayoutActivity"></activity>
        <activity android:name=".behavior.ZoomBehaviorActivity" />
        <activity android:name=".scrollFlags.SnapActivity" />
        <activity android:name=".scrollFlags.EnterAlwaysCollapsedActivity" />
        <activity android:name=".scrollFlags.ExitUntilCollapsedActivity" />
        <activity android:name=".scrollFlags.EnterAlwaysActivity" />
        <activity android:name=".scrollFlags.ScrollActivity" />
        <activity android:name=".behavior.ScrollerBehaviorActivity" />
        <activity android:name=".behavior.MoveBehaviorActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>